* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
}

body {
    background: rgb(44, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 1em 0;
}

.u-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.skill {
    margin: 1em 0;
    position: relative;
    width: 22.5em;
}

.skill__type {
    color: #fff;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
}

.skill__outer-bar, .skill__inner-bar {
    height: .75em;
}

.skill__outer-bar {
    margin-top: 1em;
    background: #333;
}

.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill__inner-bar--100 {
    width: 100%;
    background: #F8A518;
}
.skill__inner-bar--90 {
    width: 90%;
    background: #18A6F8;
}
.skill__inner-bar--80 {
    width: 80%;
    background: #F8DD18;
}
.skill__inner-bar--70 {
    width: 70%;
    background: #8718F8;
}
.skill__inner-bar--60 {
    width: 60%;
    background: #33FF80 ;
}
.skill__inner-bar--40 {
    width: 40%;
    background: #F8A518;
}
.skill__inner-bar--45 {
    width: 45%;
    background: #68FF33  ;
}
.skill__inner-bar--55 {
    width: 55%;
    background: #18A6F8;
}
.skill__inner-bar--69 {
    width: 69%;
    background: rgb(240, 7, 46) ;
}
@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}